*{
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family: arial;
}
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px 2px 100px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar{
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.nav_items{
  padding-left: 20px;
}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
  color: #8b0404;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: "";
  width: 30%;
  height: 2px;
  background-color: #8b0404;
  position: absolute;
  bottom: -4px;
  left: 20px;

}
#logo{
  height: 50px;
  background-size: cover;
  width: 100px;
}
.icon{
  width: 20px;
  height: 20px;
}


 
/**panel**/
.panel
{
  width: 100%;
  height: 39px;
  background-color: #8b0404;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  

}
.panel-ops p
{
  display: inline;
  margin: 15px;
  font-size: 0.85rem;
}
.panel-ops{
  width: 70%;
}
.panel-deals{
  font-size: 0.9rem;
  font-weight: 700;
}
.panel-all{
  font-weight: 700;
}
/**hero section**/
.hero-section{
  background-image: url("cover.jpg");
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform .2s;
}
.hero-section:hover{
  transform: scale(1.01);
}
.hero-msg
{
  background-color: rgb(231, 206, 216);
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.98rem;
  width: 30%;
  margin-bottom: 25px;

}
.hero-msg:hover{
  background-color: #f5b2b2;
  color: #fff;
  transition: 1.0s ease;
}
.hero-msg a{
  text-decoration: none;
  color: #004b85bc;
}
#page_header{
  background-image: url("smbanner2.jpg");
  height: 730px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: transform .2s;
}
#page_header:hover{
  transform: scale(1.01);
}
#page_msg{
   margin: 300px 500px 350px 20px;
}
#page_msg h2{
  height: 30px;
  font-weight: 400;
  font-size: larger;
  width: 100%;
}
#page_msg p{
  font-weight: 600;
  color: #1a1a1a;
}
#product1{
  text-align: center;
}
/**blog section**/
#blog{
  padding: 100px 30px 0 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 20px 0 0 0;

}
.blog-box{
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  padding-bottom: 140px;
}
#blog .blog-img{
  width: 100%;
}
#blog img{
  width: 370px;
  height: 227px;
  object-fit: cover;
}
.blog-details{
  width: 270px;
  height: 218px;

}
.blog-details h4{
  font-family: sans-serif;
  color: #565353;
  font-weight: 400;
  padding: 10px 0 5px 0;
  line-height: 1.65;
}
.blog-details p{
  font-family:Arial, Helvetica, sans-serif;
  color: #1c1b1b;
  font-size: 14px;
  font-weight: 400;
 margin-bottom: 20px;
  line-height: 1.65;
}
/**shop section**/
.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin: 20px 0 0 0;
}
.section-p1{
  padding: 30px 80px;
}
.section-m1{
  margin: 30px 0;
}
button.normal{
  font-size: 12px;
  font-weight: 400;
  padding: 10px 30px;
  color: #565353;
  background-color: white;
  border-radius: 9px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white{
  font-size: 13px;
  font-weight: 400;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}
h2{
  color: #565353;
  font-weight: 400;
  font-size: 20px;
  font-family: sans-serif;
  
}
.box{
  height: 300px;
  width: 23%;
  background-color: white;
  padding: 10px 0px 12px;
  margin: 15px 0px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.2s ease;
  position: relative;
}
.box:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.box-image{
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 0.50rem;
  margin-bottom: 1rem;
  transition: transform .2s;
 
}
.box-image:hover{
  transform: scale(1.03);
  
}

.box-content
{
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content h5{
  padding-top: 2px;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 400;
}
.box-content .star{
  font-size: 12px;
  color: #f5b2b2;
}
.single-pro-details .star{
  color: #f5b2b2;
  font-size: 12px;
  padding-bottom: 20px;
  
}
.box-content a i{
  color: black;
}
.box-content h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 400;
  
 
}
.box-content .cart{
   width: 40px;
   height: 40px;
   line-height: 40px;
   border-radius: 50px;
   font-weight: 500;
   color: #f5b2b2;
   background-color: white;
   position: absolute;
   bottom: 110px;
   right: 20px;
}
.box-content p{
  color: #004b85bc;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("banner.jpeg");
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  color: #fff;
  font-size: 25px;
  font-weight: 200;
}
#banner h2{
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 200;
}
#banner button:hover{
  color: white;
  background-color: #f5b2b2;
}
#sm-banner{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-image: url("smallb1.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}
#sm-banner .banner-box:hover{
  transform: scale(1.01);
}
#sm-banner .banner-box2{
  background-image: url("dasdashhjh.jpg");

}
#sm-banner .banner-box:hover button{
  background: #8b0404;
  border: 1px solid #8b0404;
  transition: 1.05s ease;
}
#sm-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}
#sm-banner span{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#banner3 .banner-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  background-image: url("smbanner2.jpg");
  min-width: 29%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  transition: transform .2s;
}
#banner3 .banner-box:hover{
  transform: scale(1.01);
}
#banner3 .banner-box2{
  background-image: url("Dur_Desktop.jpg");
}
#banner3 .banner-box3{
  background-image: url("desktop_mom_and_mini_2.jpg");
}
#banner3{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3{
  color: #8b0404;
  font-weight: 800;
  font-size: 15px;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #8b0404;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}
/* Single products*/
#prodetails .single-pro-image{
     width: 40%;
     margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails{
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h1{
  padding: 40px 0 5px 0;
  color: #565353;
  font-weight: 400;

}
#prodetails .single-pro-details h4{
  padding: 40px 0 20px 0;
  color: #565353;
  font-weight: 400;
}
#prodetails .single-pro-details h2{
  font-size: 20px;
  
}
#prodetails .single-pro-details #select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#prodetails .single-pro-details input{
  width: 40px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#prodetails .single-pro-details input:focus{
  outline: none;
}
#prodetails .single-pro-details button{
  background-color: #8b0404;
  color: white;
  border-radius: 2px;
  height: 40px;
}
#prodetails .single-pro-details span{
  line-height: 25px;
  color: #565353;
  font-weight: 200;
}

/**footer**/
footer{
  margin-top: 60px;
}
#para-content{
  width: 200px;
  color:#6a6a6a;
  font-size: 0.80rem;
}
#para-content #about{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.90rem;
}
.foot-panel1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 150px;
  background-color: #8b0404;
  color: white;
 
}
.foot-panel1 h4{
  padding: 5px 80px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
.foot-panel1 p{
  padding: 0 80px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}
.foot-panel1 p span{
  color: #f5b2b2;
}
.foot-panel1 input{
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.foot-panel1 .form{
  padding: 0 60px;
  display: flex;
  width: 40%;
}
.foot-panel1 button{
    background-color: #1a1a1a;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.foot-panel2
{
  height: 300px;
  background-color:white;
  color:#6a6a6a;
  display: flex;
  justify-content: space-evenly;
  
}

.content{
  margin-top: 30px;
}
ul p{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 0.90rem;
}
ul a{
  display: block;
  font-size: 0.80rem;
  margin-top: 10px;
  color:#6a6a6a;
}
.footpanel3
{
  background-color: white;
  height: 70px;
  border-top: 0.5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  background-image: url("sowearslogo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.footpanel4
{
  background-color: white;
  
  color:#6a6a6a;
  height: 76px;
  font-size: 0.85rem;
  text-align: center;
}
.pages
{
   padding-top: 22px;
}

.copyright{
  padding-top: 5px;
}




